body{
  color:#FEFFFF;
  text-align: center;
  margin: 0;

}
a{
  text-decoration: none;
  margin: 30px 12px;
}
a:hover{
  color: gold;
}
h1{
  color:#1526a5f2;
  width:10%;
  margin: 0 auto;
  padding-top: 70px;
}
h2{
  color: black;
  padding-top: 0;
}
h4{
  color: black;
  margin-bottom: 5px;
}
p{
  color: #1526a5f2;
  weight: normal;
  width: 30%;
  margin:auto;
  line-height: 2;
}
hr{
  border: dotted #ff0000;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;

}

img{
}
.greetings{
  margin-bottom: 60px;
}
.top{
  background-color: #d8ece6;
  position: relative;
  padding-top: 100px;

}
.ace-one{
  position: absolute;
  right: 500px;
  padding-top:0;
  transform: rotate(0.5turn);

}
.ace-two{
    position: absolute;
    left:500px;

}

.hubby button {
  background-color: blue;
  color: white;
  padding:1em 2em;
  border-radius: 15px;
  border:none;
  outline:none;
  cursor: pointer;

}
.hubby button:hover{
  color: gold;
}

.middle{
  background-color: #d8ece6;
  margin-top: 150px;
  margin-bottom: 50px;


}

.puinky{
  border-radius: 100%;
  margin-top: 0;
}
.para{color: #1526a5f2;
weight: normal;
width: 60%;
margin-bottom: 60px;
line-height: 2;
text-align: left;
margin-left: 70px;
}
.paragraph{
  padding-bottom: 50px;
}
.skill{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  }
  .nerd{
    width: 10%;
    float: left;
  }
.bottom{
  background-color: #5bd1d7;
  padding: 50px 0 20px;

}
